.ese{
    /* height : 100%;
    width : 100%;
    background-color: white; */
    position:relative;
    top: 10px;
    left: 13px;
    /* height: 1010px; */
    

    width : 1210px;
    background-color: white;
    border: 2px solid #b30000;
    border-radius: 8%;
}
.data{
    width: 98%;
    position:relative;
    left:10px;
    height: 520px;
}