

.Tech{
    /* padding: px; */
    position:relative;
    top: 10px;
    left: 20px;
    height: 1010px;
    

    width : 1200px;
    background-color: white;
    border: 2px solid #b30000;
    border-radius: 8%;
}
.data2{
    width: 98%;
    position:relative;
    left:10px;
}